@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,500&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-image: linear-gradient(
    to top right,
    rgb(190, 231, 205),
    rgb(237, 253, 243) 90%,
    rgb(174, 223, 190)
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}
